/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of Styling CSS Code */
body {
  background-color: hsl(34, 41%, 90%);
}

/* Navigation : Styling */

.navigation {
  list-style: none;
  background-color: hsl(32, 46%, 93%);
  font-family: "M Plus 1 Code", sans-serif;
  display: flex;
  justify-content: flex-start;
  padding: 0.4rem;
  align-items: center;
  /* border: 1px solid red; */
}

.navigation-items {
  /* border: 1px solid red; */
  font-family: "Kanit", sans-serif;
  display: flex;
  gap: 25px;
  margin-left: 35px;
}

.navigation-logo {
  /* border: 1px solid red; */
  gap: 0.5rem;
  font-weight: bold;
  align-items: center;
  display: flex;
  margin-left: 560px;
}

.navigation,
.navigation-items a {
  text-decoration: none;
  color: black;
}

.navigation .dark-mode-button {
  background: hsl(259, 58%, 59%);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 237px;
}

/* ------ Section : Navigation Styling End of Code ------*/

/* Section : Header Styling */

.header {
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: calc(100vh - 82px);
}

.header .layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.header-items {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .header-items {
    flex-wrap: nowrap;
  }
}

.header-picture {
  display: flex;
  align-items: center;
  width: 50%;
}

@media (min-width: 768px) {
  .header-picture {
    width: 100%;
    padding: 1.5rem;
  }
}

.header-picture-layout {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.header-picture img {
  height: 450px;
  width: 450px;
  background: linear-gradient(
    180deg,
    rgba(163, 149, 131, 1) 0%,
    rgba(163, 149, 131, 0) 100%
  );
  border-radius: 0.25%;
}

@media (min-width: 1024px) {
  .header-picture img {
    border-radius: 50%;
  }
}

.header-introduction {
  font-size: 2em;
}

.header-introduction h1 {
  font-weight: 1000;
  color: hsl(356, 68%, 41%);
  padding-bottom: 0.5em;
  font-size: 1.875rem;
}

.header-introduction h2 {
  color: hsl(46.2, 12.6%, 20.2%);
  font-weight: 1000;
  font-size: 3.5rem;
}

.header-introduction p {
  color: hsl(46.2, 12.6%, 20.2%);
  font-weight: 100;
  font-size: 1.25rem;
  padding: 1.5em 0;
  line-height: 30px;
}

.header-button {
  display: flex;
  justify-content: flex;
  align-items: center;
}

.header-button a {
  color: black;
}

.social-media-button {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  background-color: hsl(34, 41%, 85%);
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border: none;
}

.resume-button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  border: none;
  border-radius: 5px;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  background-color: hsl(356, 68%, 41%);
}

.resume-button a {
  color: #fff;
}

.resume-button span {
  margin-left: 15px;
}

.resume-button:hover {
  background-color: hsl(356, 68%, 45%);
}

.social-media-button:hover {
  background-color: hsl(35, 46%, 75%);
}

/* ------ Section : Header Styling End of Code ------*/

/* Section : Education */

.education {
  padding-bottom: 80px;
  padding-top: 80px;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
}

.education .layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 68rem;
  width: 91.666667%;
}

.education h1 {
  color: hsl(356, 68%, 41%);
  font-weight: 1000;
  font-size: 1.5em;
  line-height: 2em;
}

.education p {
  font-size: 1.2em;
  color: hsl(46.2, 12.6%, 20.2%);
  line-height: 2em;
}

.education-items {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.education-items-content {
  background-color: hsl(60, 1.3%, 84.9%);
  border-radius: 5px;
  padding: 0.7em 0.5em;
  margin-left: 80px;
  border-bottom: 5px solid hsl(0, 0%, 100%);
}

.education-items-content h2 {
  font-size: 1.5em;
  font-weight: 1000;
  color: hsl(356, 68%, 41%);
  padding: 0.3em 0.5em;
}

.education-items-content h3 {
  font-size: 1.5em;
  color: hsl(46.2, 12.6%, 20.2%);
  font-weight: 1000;
  padding: 0.3em 0.5em;
}

.education-items-content p {
  line-height: 22px;
  padding: 0.3em 0.8em;
}

.education-items-content h4 {
  padding: 0.3em 0.8em;
}

.education-items-content:last-child {
  margin-top: 55px;
}

/* ------ Section : Education Styling End of Code ------*/

/* Section : Works */

.works {
  padding-bottom: 80px;
  padding-top: 80px;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
}

.works h1 {
  font-size: 1.5em;
  font-weight: 1000;
  color: hsl(356, 68%, 45%);
  line-height: 2em;
}

.works p {
  font-size: 1.2em;
  color: hsl(46.2, 12.6%, 20.2%);
  line-height: 2em;
}

.works .layout {
  margin-left: auto;
  margin-right: auto;
  max-width: 68rem;
  width: 91.666667%;
}

.works ul {
  display: grid;
  gap: 1em;
  margin-top: 1rem;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .works ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .works ul {
    grid-template-columns: repeat(3, minmax(10px, 1fr));
  }
}

.works-items a {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  text-decoration: none;
  color: black;
  border: 1px solid hsl(46, 12%, 20%);
  border-radius: 5px;
  padding: 1rem;
}

.works-items a h2 {
  font-weight: 1000;
  color: hsl(46, 12%, 20%);
  font-size: 1.2em;
}

.works .works-items a p {
  font-size: 1em;
  color: hsl(46, 12%, 20%);
  line-height: 1.5em;
}

.works-items .works-items-tools {
  display: flex;
  box-sizing: border-box;
  font-size: 1.5em;
  gap: 0.5em;
  margin-top: 0.5em;
}

.works-items img {
  border-radius: 0.25rem;
  margin-top: 1em;
}

.works-items .works-see-more {
  display: flex;
  align-items: center;
  gap: 0.3em;
  margin-top: 0.5em;
}

.see-more-works {
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  margin-top: 1rem;
  color: hsl(46.2, 12.6%, 20.2%);
  font-weight: bold;
  border-radius: 0.25rem;
  border: 1px solid hsl(46, 12%, 20%);
  display: inline-flex;
}
